@model List<Usuario>
    @{
        Layout = null;
    }
    <script type="text/javascript">
        

        $(Candidatos).html(htmlCandidatos);

    </script>
    <div id="Candidatos">

    </div>

